# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/
build/
dist/

# env files (never commit secrets)
.env
.env*.local
.env.production
.env.development

# payload
media/
*.tsbuildinfo

# testing
coverage/

# misc
.DS_Store
*.pem
.vercel

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea/
